//@import "bootstrap/dist/css/bootstrap-grid.css";
//@import "./variables";
//@import "./grid";
//@import "./base";
//@import "./fonts";
@import "./grid/bootstrap-grid";

* {
  box-sizing: border-box;
}

.container-base {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.aem-Grid {
  //--bs-gutter-x: 1.5rem;
  //--bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  //margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: -15px;
  margin-left: -15px;
}

.aem-Grid > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  //margin-top: var(--bs-gutter-y);
}
