
$grid-breakpoints: (
        default: 1280px,
        tablet: 992px,
        phone: 768px,
) !default;

$container-max-widths: (
        default: 1280px,
        tablet: 992px,
        phone: 768px,
) !default;

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

